  <div ng-controller="SamLoginController" ng-hide="$parent.loggedIn === true">
  <md-whiteframe class="md-whiteframe-z3 md-padding" style="width:400px" layout layout-align="center center">
   <form class="login" ng-submit="login(user)" method="post">
    <div class="photo"></div>
    <h2 class="md-title center">Sign into your account</h2>
    <md-input-container flex>
      <label>Email</label>
      <input type="email" ng-model="user.email" required>
    </md-input-container>
    <md-input-container flex>
      <label>Password</label>
      <input type="password" ng-model="user.password" required>
    </md-input-container>
    <div layout="row" layout-wrap>
      <div flex="75">
        <md-checkbox ng-model="data.cb1" aria-label="Stay signed in">
          Stay signed in
        </md-checkbox>
      </div>
      <div flex>
        <md-button class="md-raised md-primary">sign in</md-button>
      </div>
    </div>
   </form>
  </md-whiteframe>
  </div>

  <div ng-controller="SamMainController">
    <div ng-if="$parent.loggedIn === true" layout="column" layout-fill class="samSideNav">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
          <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
        </md-button>
        <h1>SAM</h1>
       <span flex></span>
        <md-button class="md-raised md-primary md-hue-1" aria-label="Favorite">
            Menu
        </md-button>
        <md-button class="md-raised md-primary md-hue-3" aria-label="Logout">
            Logout
        </md-button>
      </div>
    </md-toolbar>
    <div layout="row" flex>
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" class="samSideNav">
<md-list ng-controller="SamSideNavController">
  <md-subheader class="md-no-sticky">Navigation</md-subheader>
  <md-list-item ng-repeat="page in pages">
    {{ page.name }} 
  </md-list-item>
  <md-divider></md-divider>
  <md-subheader class="md-no-sticky">Actions</md-subheader>
  <md-list-item ng-repeat="action in actions">
    {{ action.name }}
  </md-list-item>
</md-list>
        </md-sidenav>
        <div layout="column" flex id="content">
            <md-content id="appContent" layout="column" flex class="md-padding">

            </md-content>
        </div>
    </div>

    </div>
 </div>

