.gray {
  background: #f5f5f5; 
}
.green {
  background: #b9f6ca;
}
.yellow {
  background: #ffff8d;
}
.blue {
  background: #84ffff;
}
.purple {
  background: #b388ff; 
}
.red {
  background: #ff8a80; 
}
#appContent md-grid-list {
  margin: 8px;
}
#appContent md-grid-tile {
  transition: all 400ms ease-out 50ms; 
}
md-fab-toolbar.md-left md-fab-trigger.align-with-text {
  left: 7px;
}
#appContent md-fab-speed-dial {
  top: 0;
  position: absolute;
  left: 0;
}
.deletePost {
  top: 0;
  right: 0;
  position: absolute;
  min-width: 30px;
}
